body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin: 0;
    background: url(https://i.pinimg.com/564x/e9/2a/bd/e92abdf7d8e1975b4c3ce158ccb57aa9.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40%;
    max-width: 500px;
}

.logo {
    width: 150px;
}

.department-image {
    width: 50%;
    max-width: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.details {
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:disabled {
    background-color: #cccccc;
}

.message {
    margin-top: 20px;
    color: red;
    font-weight: bold;
}
